.user-component{
    justify-content: space-between;

}
.user-component, 
.user-component__column:first-child{
    display: flex;
    align-items: center;
    position: relative;
}
.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 28px;
    margin-right: 20px;
    object-fit: cover;
}
.user-component__title{
    font-weight: 600;
    font-size: 22px;
}
.user-component__subtitle{
    margin-top: 10px;
    font-size: 16px;
    opacity: var(--text-opacity);
    margin-right: 5px;
}
.user-component__text div{
    display: flex;
    align-items: flex-end;
}
.user-component__text div > i{
    color: rgba(230, 8, 8, 0.8);
}
.avatar-xl{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}
.avatar-xs{
    width: 60px;
    height: 60px;
    border-radius: 24px;
}
.user-component__title--no-bold{
    font-weight: 400;
    font-size: 22px;
}
.user-component__column:last-child{
    color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-component__time{
    margin-bottom: 10px;
    display: block;
}
.avatar-2xs{
    width: 25px;
    height: 25px;
    border-radius: 10px;
}
